version: "3.1"
services:
  mysql_dev:
    image: mysql:8.0
    container_name: nginx
    restart: always
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - ${MYSQL_VOLUME_DIR}:/var/lib/mysql
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    networks:
      - app_net
networks:
  app_net:
    external:
      name: app_net